name: Publish Tessl Tile

permissions:
  id-token: write  # Required for OIDC token
  contents: read  # Required to checkout the repository

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tesslio/publish@c79f3467f8bd1e75fdcb43bca19e454e09854ee6  # latest commit as-of 2026-02-17
        with:
          token: ${{ secrets.TESSL_API_TOKEN }}
