name: Publish Tessl Tile

permissions:
  id-token: write  # Required for OIDC token
  contents: read  # Required to checkout the repository

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tesslio/publish@a85d5126aedcc671a042364ffe48d60593365f7a  # latest commit as-of 2026-02-18
        with:
          token: ${{ secrets.TESSL_API_TOKEN }}
